/* Style the card using
    position,
    padding,
    margin,
    line-height,
    border

    
 */
body {
    display: inline-flex;
    flex-direction: column;
    
}

div  {
    display: inline-flex;
    flex-direction: column;
    border-color: gray;
    border-style: solid;
    border-width:2px;
    padding: 0;
    margin: 0;
    line-height: 150%;
    position: absolute; 
    top: 65px;
}

#Sale {
    display: flex;
    order: -1;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: -64px;
    left: -2px;

}