/* Style the menus using
    flex,
    padding,
    background-color,
    list-style,
    text-decoration,
    justify-content,
    align-items
 */

header {

    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    height: 75px;
}



#head-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
    gap: 20px;
    flex-basis: 100%;
    color: rgb(13, 13, 14);
    padding: 0;
    height: 40px;
    
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 7px;
    padding-right: 50px;

    }

li {
    list-style-type: none;
    text-align: center;

}

div #promotion {
    background-color: crimson;
    padding-left: 13px;
    padding-right: 13px;
    height: 100%;

}

#sub-menu {
display: flex; 
flex-direction: row;
background-color: darkgray;
flex-basis: 100%;
justify-content: center;
align-items:center;
color: white;
height: 35px;
}


a {
    text-decoration: none;
    color:black;
}

#promotion a {
    text-decoration: none;
    color:white;
}

#sub-menu a {
    color:white;
}

#site-brand {
    font-weight: bold;
}